/* Card.css */

.card-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(131, 131, 131);
    margin: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 18rem;
    height: 29rem;
    overflow: auto;
}

.card-container:hover {
    background-color: rgb(185, 211, 249);
}

.card-details {
    font-size: 0.6rem;
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.657);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between; 
    color: white;
}

.card-details p {
    margin: 4px;
    font-size: 0.8rem; 
    color: white;
}

.img {
    width: 100%;
    height: 10vh;
    background-image: url('../images/78751.png');
    background-size: cover;
    background-position: center center;
    
}

.card-img {
    width: 100%;
    height: 8rem;
}

.learn-more-btn {
    margin-top: 1rem;
    width: 6rem;
    height: 2rem;
    font-size: 0.7rem;
    border-radius: .6rem;
    background-color: rgb(81, 156, 255);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    cursor: pointer;
}

.learn-more-btn:hover {
    background-color: rgb(51, 126, 209);
}


/* You can customize colors according to your light blue and gray theme */