/* StopInstance.css */
.stop-instance-container {
    margin-top: 10vh;
  }
  
  .instance {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .stop-name {
    margin-top: 30px;
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .stop-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .stop-image img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .stop-details {
    margin-top: 2rem;
    flex: 1;
  }
  
  .stop-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stop-details p {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .stop-hours h2,
  .stop-reviews h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stop-hours ul,
  .stop-reviews ul {
    list-style: none;
    padding: 0;
  }
  
  .stop-hours li,
  .stop-reviews li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .review-item {
    background-color: #117ab3;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
  }
  
  .review-item h3 {
    font-size: 20px;
    color: #fff;
    margin: 0;
  }
  
  .review-item p {
    font-size: 18px;
    color: #fff;
    margin: 0;
  }
  
  .rating {
    font-size: 24px;
  }
  