/* ZipInstance.css */
.zip-instance-container {
  max-width: 800px;
  margin: 10vh auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.zip-info {
  margin-top: 2rem;
  padding: 20px;
}

.zip-info h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.zip-info p {
  font-size: 18px;
  margin: 5px 0;
}



/* Add more styles as needed for additional elements */

  