.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
    grid-gap: 1vw; 
    margin: 0 auto; 
    max-width: 1200px; 
    padding: 0 20px; 
  }

  .highlight {
    background-color: rgb(162, 198, 245);;
    color: black;
  }

  .tabs button {
    width: 19vw;
    height: 5vh;
    box-sizing: border-box; 
    text-align: center; 
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-size: 1.4rem;
  }
  
  .tabs button:hover {
    color: rgb(0, 0, 0); 
    background-color: #ffffff; 
    cursor: pointer; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .tabs button.active {
    background-color: #007bff; 
    color: white; 
    box-shadow: none; 
  }
  

  .tabs {
    margin-top: 4rem;
  }
  
  
  
  @media (max-width: 768px) {
    .cards-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    }
  }
  
   