.title-text {
    font-size: 50px;
    margin-top: 80px;
}

.landing-main{
    width: 100%;
    height: 100vh;
    background-image: url('../images/landingsplash.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (last value) to control darkness */
    pointer-events: none; /* Allows interaction with elements beneath the overlay */
    z-index: 5000;
}

.landing-contents {
    margin-left: 12rem;
    width: 50%;
    height: 50%;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
}

.landing-contents h1{
    font-size: 4rem;
    text-shadow: 6px 8px 5px rgba(0, 0, 0, 0.5);
}

.landing-contents h3 {
    color: rgb(81, 156, 255);
    text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Merriweather Sans', sans-serif;
}

.landing-contents p{
    font-size: 1.1rem;
}

.landing-contents button {
    width: 10rem;
    height: 3.5rem;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1.3rem;
    font-size: 1.2rem;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.landing-contents button:hover {
    background-color: rgb(81, 156, 255);
    color: white;
}

.hover-color {
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.hover-color:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}