.page-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 246, 255);
}

.highlight {
  background-color: rgb(162, 198, 245);;
  color: black;
}

.page {
    margin-top: 10rem;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loadingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(245, 246, 255);
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.search-input {
  margin-bottom: 2rem;
}

/* Pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px 8px; /* Increased margin */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .page-button:hover {
    background-color: #0056b3;
  }
  
  .current-page {
    background-color: #0056b3;
  }
  
  .prev-next-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px 8px; /* Increased margin */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .prev-next-button:hover {
    background-color: #0056b3;
  }

  .dropdown-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px; /* Add space between buttons if needed */
    transition: background-color 0.3s ease;
    position: relative;
  }
  
  .dropdown-button:hover {
    background-color: #0056b3;
  }

  .dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .dropdown {
    margin-bottom: 0px;
    margin-right: 50px; /* Add some spacing between dropdowns if needed */
  }
  
  .dropdown label {
    margin-bottom: 10px; /* Add space between the label and the select element */
  }
  
  .dropdown select {
    margin-left: 5px; /* Add space between the select element and the label */
  }

  .dropdown-options {
    position: absolute;
    top: 100%; /* Position the dropdown menu below the dropdown button */
    left: 0;
    background-color: #ffffff;
    padding: 10px;
    max-height: 150px; /* Set the maximum height for the dropdown options */
    overflow-y: auto;
  }
  
  .option {
    padding: 10px;
    border: 1px solid #ccc; /* Add border to the options */
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  
  .custom-title {
    margin-top: 10px; /* Adjust the margin-top value according to your preference */

  }