
.our-visuals > h1, .provider-visuals > h1, h3 {
    
}

h1 {
    margin-bottom: 2rem;
}

.visuals {
    margin-top: 10rem;
    color: #2596be;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.graph {
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
    margin-left: 32rem;
    margin-right: 32rem;
}
